<div
style="width: 100%;height: 100%;flex-direction: row;justify-content: center;">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="to">
  <div style="margin-left: 100px;">
    <img src="../../assets/images/VET.png" alt="" width="80px">
  </div>
  <div class="to"
    style=" width: 100%;height: 100%;flex-direction: column;justify-content: center;">
    <br><br><font face=angsananew size=5 color=blue>คณะสัตว์แพทยศาสาตร์ มหาวิทยาลัยมหาสารคาม</font>
    <font face=angsananew size=4 color=red>โรงพยาบาลสัตว์เพื่อการเรียนการสอน</font>
</div>
<div class="to"
      style=" margin-top: 50px; width: 100%;height: 100%;flex-direction: row; justify-content: end;">

      <i class='fas fa-headset' style='font-size:20px'><font face=angsananew size=3 > 043-722834 &nbsp;</font></i>&nbsp;
        <i class="fa fa-envelope" style="font-size:20px"><font face=angsananew size=3 > vet@msu.ac.th &nbsp;</font></i>&nbsp;
        <i class="fa fa-phone" style="font-size:20px"><font face=angsananew size=3 > ติดต่อสอบถาม &nbsp;</font></i>&nbsp;
        <i class='fas fa-sitemap' style='font-size:20px'><font face=angsananew size=3 > ผังเว็บไซต์ &nbsp;</font></i>&nbsp;
        <i class='fas fa-globe-americas' style='font-size:20px'><font face=angsananew size=3 > TH|EN &nbsp;</font></i>&nbsp;
    </div>
  </div>
</div>

 <p-toolbar>

 </p-toolbar>


<!-- class="container p-2" -->
