
<hr>
<div class="to">
  <div style="margin-left: 100px;">
    <div class="to"
    style=" width: 100%;height: 100%;flex-direction: column;justify-content: center;">
    <font face=angsananew size=5 >เมนูหลัก</font>
    <hr style="width: 50%; size: 3;color: rgb(125, 1, 1);" >
    <font face=angsananew size=3 >เกี่ยวกับเรา</font><br>
    <font face=angsananew size=3 >บริการ</font><br>
    <font face=angsananew size=3 >ข่าวสาร</font><br>
    <font face=angsananew size=3 >E-Form/Online Form</font><br>
    <font face=angsananew size=3 >ติดต่อเรา</font><br>
    <font face=angsananew size=3 >เอกสารเผยแพร่</font><br>
    <font face=angsananew size=3 >แกลลอรี่ความรู้</font><br>
    <font face=angsananew size=3 >รายงานการประชุม</font><br>
    </div>
  </div>

  <div style="margin-left: 120px;">
    <div class="to"
    style=" width: 100%;height: 100%;flex-direction: column;justify-content: center;">
    <font face=angsananew size=5 >ลิงค์ภายใน</font>
    <hr style="width: 50%; size: 3;color: rgb(125, 1, 1);" >
    <font face=angsananew size=3 >มหาวิทยาลัยมหาสารคาม</font><br>
    <font face=angsananew size=3 >คณะสัตวเเพทยศาสตร์ มหาวิทยาลัยมหาสารคาม</font><br>
    <font face=angsananew size=3 >สำนักงานศึกษาทั่วไป</font><br>
    <font face=angsananew size=3 >กองกิจการนิสิต</font><br>
    <font face=angsananew size=3 >ศูนย์พัฒนาและประกันคุณภาพการศึกษา</font><br>
    <font face=angsananew size=3 >ระบบการศึกษา(REG)</font><br>
    <font face=angsananew size=3 >สำนักวิทยบริการ</font><br>
    <font face=angsananew size=3 >หน่วยงานภายในโรงพยาบาลสัตว์</font><br>
    </div>
  </div>

  <div style="margin-left: 100px;">
    <div class="to"
    style=" width: 100%;height: 100%;flex-direction: column;justify-content: center;">
    <font face=angsananew size=5 >ลิงค์ภายนอก</font>
    <hr style="width: 50%; size: 3;color: rgb(125, 1, 1);" >
    <font face=angsananew size=3 >มหาวิทยาลัยมหาสารคาม</font><br>
    <font face=angsananew size=3 >คณะสัตวเเพทยศาสตร์ มหาวิทยาลัยมหาสารคาม</font><br>
    <font face=angsananew size=3 >สำนักงานศึกษาทั่วไป</font><br>
    <font face=angsananew size=3 >กองกิจการนิสิต</font><br>
    <font face=angsananew size=3 >ศูนย์พัฒนาและประกันคุณภาพการศึกษา</font><br>
    <font face=angsananew size=3 >ระบบการศึกษา(REG)</font><br>
    <font face=angsananew size=3 >สำนักวิทยบริการ</font><br>
    <font face=angsananew size=3 >หน่วยงานภายในโรงพยาบาลสัตว์</font><br>
    </div>
  </div>

  <div style="margin-left:90px;">
    <div class="to"
    style=" flex-direction: column;justify-content: center;">
    <font face=angsananew size=5 >ติดต่อ</font>
    <hr style="width: 50%; size: 3;color: rgb(125, 1, 1);" >

    <img src="../../assets/images/VET.png" alt="" width="50px">
    <font face=angsananew size=3 >โรงพยาบาลสัตว์เพื่อการเรียนการสอน</font>
    <font face=angsananew size=3 >คณะสัตวเเพทยศาสตร์ มหาวิทยาลัยมหาสารคาม</font><br>

    <div class="footerMenu">
    <i class="fa fa-circle" size=3 ><a href="https://www.google.com/maps/place/Faculty+of+Veterinary+Science,+Mahasarakham+University/@16.2002192,103.2834161,17.11z/data=!4m14!1m7!3m6!1s0x3122a39a57f8a653:0x42a8bca848ab31a5!2sFaculty+of+Informatics,+Mahasarakham+University!8m2!3d16.2466023!4d103.2520166!16s%2Fg%2F122tcsyj!3m5!1s0x3122a6a416df8c2f:0x9b68701fbbe48b86!8m2!3d16.201096!4d103.2829123!16s%2Fg%2F11b6dnck8t?hl=en-US" style="text-decoration: none; color: black;" > แผนที่ (GOOOGLEMAP)</a></i><br>
    <i class="fa fa-circle" size=3> vet@msu.ac.th</i><br>
    <i class="fa fa-circle" size=3> 043-722834 ภายใน 6182</i><br>
    <i class="fa fa-circle" size=3> <a href="www.facebook.com/vethosmsu" style="text-decoration: none; color: black;"> www.facebook.com/vethosmsu</a></i><br><br>
    </div>
    </div>
  </div>
</div>

<hr>
  <font face=angsananew size=3 class="footerline">© 2023 คณะสัตวแพทยศาสตร์ มหาวิทยาลัยมหาสารคาม ต.ตลาด อ.เมือง
    จ.มหาสารคาม 44000 โทรศัพท์/โทรสาร 043-712832, ภายใน 6182 | ผู้พัฒนาเว็บไซต์ กันติยา พิลาด , ภีรพัฒน์ คงสุข
  </font>


