
<div class="to">
  <div style="margin-left: 120px;">
    <div class="to"
    style=" width: 100%;height: 100%;flex-direction: column;justify-content: center;">
<hr>
    <font face=angsananew size=5 >เมนูหลัก</font>

    <hr style="width: 50%; size: 3;color: blue;" >
    <font face=angsananew size=3 >เกี่ยวกับเรา</font><br>
    <font face=angsananew size=3 >บริการ</font><br>
    <font face=angsananew size=3 >ข่าวสาร</font><br>
    <font face=angsananew size=3 >E-Form/Online Form</font><br>
    <font face=angsananew size=3 >ติดต่อเรา</font><br>
    <font face=angsananew size=3 >เอกสารเผยแพร่</font><br>
    <font face=angsananew size=3 >แกลลอรี่ความรู้</font><br>
    <font face=angsananew size=3 >รายงานการประชุม</font><br>
</div>


  </div>
  <div style="margin-left: 1050px;">
    <font face=angsananew size=5 >ติดต่อ</font><br>
    <img src="../../assets/images/VET.png" alt="" width="50px">
  </div>
</div>


